ul{
    padding-left: 0.5rem;
    margin: 0;
    max-width: 15rem;
    list-style: none;    
    background-color: #404040;
}

li{
    padding: 0.5rem;
    margin: 0;
    color: #ffffff;
    cursor: pointer;
}

.children-number{
    float: right;
}