<ul>
    <ng-template #recursiveList let-list>
        <li *ngFor="let item of list" (click)="listClick($event, item)">
            <!-- department title -->
            <span [ngStyle]="{'color': item.Color, 'font-weight':700}"> | </span> {{item.Title}} 
            <!-- number of children -->
            <span class="children-number" *ngIf="item.children"> {{item.children.length}} </span>
            <ul *ngIf="item.children?.length > 0 && item.showChildren" [ngClass]="{ 'x': selectedItem == item }">
                <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: item.children }"></ng-container>
            </ul>
        </li>
    </ng-template>
    <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: treeData }"></ng-container>
</ul>